@import "../../baseline";
@import "../../variables";

.loginWrapper {
  font-family: "Calibri";
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .loginLightDiv {
    color: $color1;

    z-index: 1;
    position: relative;
    right: 38rem;
    background-color: white;
    width: 18rem;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 7.4px 9.4px 3.2px;

    input {
      width: 11rem;
      height: 4vh;
      padding-left: 20px;
      border: none;
    }

    h1{
      width: 100%;
    }

    input:focus {
      outline: none;
      border-top: 1px solid $color4;
      border-left: 1px solid $color4;
    }

    button {
      min-width: 9vw;
      height: 4vh;
      border-radius: 5px;
      background-color: $color4;
      color: white;
      margin-left: 9.5vw;
      border-style: none;
    }
    button:hover {
      cursor: pointer;
      border: 1px solid $color4;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .signInDiv {
      display: flex;
      border-bottom: 1px solid $color1;

      img {
        margin-top: 11.5px;
        width: 25px;
        height: 25px;
      }
    }

    @media only screen and (max-device-width: 769px) {
      position: static;
      margin: 0 auto;
      width: 500px;
      padding: 2rem;
      align-items: center;

      .signInDiv {
        margin-bottom: 2rem;
      }

      .loginLightDiv {
        position: static;
        width: 35rem;
      }

      h1 {
        width: 100%;
        text-align: center;
        align-self: center;
        margin-bottom: 0.5rem;
      }

      input {
        width: 15rem;
      }

      button {
        min-width: 4rem;
        margin: 0 auto;
      }
    }

    @media only screen and (max-device-width: 426px) {
      width: 30rem;
      padding: 2rem;
      margin: 7rem;

      .loginLightDiv {
        width: 30rem;
      }

      h1 {
        width: 7rem;
        align-self: center;
        margin-bottom: 0.5rem;
      }

      input {
        width: 7rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .loginDarkDiv {
    border-radius: 5px;
    background-color: $color1;
    color: white;

    min-width: 40rem;
    min-height: 43vh;

    text-align: right;
    display: flex;
    justify-content: flex-end;

    span {
      color: $color4;
    }

    .textDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4rem;

      p {
        font-size: 35px;
        max-width: 16vw;
        text-align: left;
        align-self: center;
        margin: 1rem auto;
      }
    }

    @media only screen and (max-device-width: 769px) {
      display: none;
    }
  }
}
